/*** Settings ***/
/*** //Settings ***/
.icon-text {
  vertical-align: middle;
  display: inline-block;
}
.transition-icons {
  position: relative;
}
.transition-icons .transition-icon-item {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.transition-icons .transition-icon-item--over {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.transition-icons .transition-icon-item--out {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.transition-icons:hover .transition-icon-item--over {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.transition-icons:hover .transition-icon-item--out {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
a:hover .transition-icons .transition-icon-item--over,
button:hover .transition-icons .transition-icon-item--over {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
a:hover .transition-icons .transition-icon-item--out,
button:hover .transition-icons .transition-icon-item--out {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.justify-alignment {
  text-align: justify;
}
.justify-alignment:before {
  content: '';
  margin-bottom: -1.2em;
  display: block;
  width: 100%;
}
.justify-alignment:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.justify-item {
  position: relative;
  top: 1.2em;
  vertical-align: top;
  display: inline-block;
}
.justify-item--bottom {
  vertical-align: bottom;
}
.justify-item--top {
  vertical-align: top;
}
.justify-item--middle {
  vertical-align: middle;
}
.columns {
  zoom: 1;
}
.columns:before,
.columns:after {
  content: "";
  display: table;
}
.columns:after {
  clear: both;
}
.columns--relative {
  position: relative;
}
.columns .column-item--left {
  float: left;
}
.columns .column-item--right {
  float: right;
}
.columns .column-item--w1 {
  width: 1%;
}
.columns .column-item--w2 {
  width: 2%;
}
.columns .column-item--w3 {
  width: 3%;
}
.columns .column-item--w4 {
  width: 4%;
}
.columns .column-item--w5 {
  width: 5%;
}
.columns .column-item--w6 {
  width: 6%;
}
.columns .column-item--w7 {
  width: 7%;
}
.columns .column-item--w8 {
  width: 8%;
}
.columns .column-item--w9 {
  width: 9%;
}
.columns .column-item--w10 {
  width: 10%;
}
.columns .column-item--w11 {
  width: 11%;
}
.columns .column-item--w12 {
  width: 12%;
}
.columns .column-item--w13 {
  width: 13%;
}
.columns .column-item--w14 {
  width: 14%;
}
.columns .column-item--w15 {
  width: 15%;
}
.columns .column-item--w16 {
  width: 16%;
}
.columns .column-item--w17 {
  width: 17%;
}
.columns .column-item--w18 {
  width: 18%;
}
.columns .column-item--w19 {
  width: 19%;
}
.columns .column-item--w20 {
  width: 20%;
}
.columns .column-item--w21 {
  width: 21%;
}
.columns .column-item--w22 {
  width: 22%;
}
.columns .column-item--w23 {
  width: 23%;
}
.columns .column-item--w24 {
  width: 24%;
}
.columns .column-item--w25 {
  width: 25%;
}
.columns .column-item--w26 {
  width: 26%;
}
.columns .column-item--w27 {
  width: 27%;
}
.columns .column-item--w28 {
  width: 28%;
}
.columns .column-item--w29 {
  width: 29%;
}
.columns .column-item--w30 {
  width: 30%;
}
.columns .column-item--w31 {
  width: 31%;
}
.columns .column-item--w32 {
  width: 32%;
}
.columns .column-item--w33 {
  width: 33%;
}
.columns .column-item--w34 {
  width: 34%;
}
.columns .column-item--w35 {
  width: 35%;
}
.columns .column-item--w36 {
  width: 36%;
}
.columns .column-item--w37 {
  width: 37%;
}
.columns .column-item--w38 {
  width: 38%;
}
.columns .column-item--w39 {
  width: 39%;
}
.columns .column-item--w40 {
  width: 40%;
}
.columns .column-item--w41 {
  width: 41%;
}
.columns .column-item--w42 {
  width: 42%;
}
.columns .column-item--w43 {
  width: 43%;
}
.columns .column-item--w44 {
  width: 44%;
}
.columns .column-item--w45 {
  width: 45%;
}
.columns .column-item--w46 {
  width: 46%;
}
.columns .column-item--w47 {
  width: 47%;
}
.columns .column-item--w48 {
  width: 48%;
}
.columns .column-item--w49 {
  width: 49%;
}
.columns .column-item--w50 {
  width: 50%;
}
.columns .column-item--w51 {
  width: 51%;
}
.columns .column-item--w52 {
  width: 52%;
}
.columns .column-item--w53 {
  width: 53%;
}
.columns .column-item--w54 {
  width: 54%;
}
.columns .column-item--w55 {
  width: 55%;
}
.columns .column-item--w56 {
  width: 56%;
}
.columns .column-item--w57 {
  width: 57%;
}
.columns .column-item--w58 {
  width: 58%;
}
.columns .column-item--w59 {
  width: 59%;
}
.columns .column-item--w60 {
  width: 60%;
}
.columns .column-item--w61 {
  width: 61%;
}
.columns .column-item--w62 {
  width: 62%;
}
.columns .column-item--w63 {
  width: 63%;
}
.columns .column-item--w64 {
  width: 64%;
}
.columns .column-item--w65 {
  width: 65%;
}
.columns .column-item--w66 {
  width: 66%;
}
.columns .column-item--w67 {
  width: 67%;
}
.columns .column-item--w68 {
  width: 68%;
}
.columns .column-item--w69 {
  width: 69%;
}
.columns .column-item--w70 {
  width: 70%;
}
.columns .column-item--w71 {
  width: 71%;
}
.columns .column-item--w72 {
  width: 72%;
}
.columns .column-item--w73 {
  width: 73%;
}
.columns .column-item--w74 {
  width: 74%;
}
.columns .column-item--w75 {
  width: 75%;
}
.columns .column-item--w76 {
  width: 76%;
}
.columns .column-item--w77 {
  width: 77%;
}
.columns .column-item--w78 {
  width: 78%;
}
.columns .column-item--w79 {
  width: 79%;
}
.columns .column-item--w80 {
  width: 80%;
}
.columns .column-item--w81 {
  width: 81%;
}
.columns .column-item--w82 {
  width: 82%;
}
.columns .column-item--w83 {
  width: 83%;
}
.columns .column-item--w84 {
  width: 84%;
}
.columns .column-item--w85 {
  width: 85%;
}
.columns .column-item--w86 {
  width: 86%;
}
.columns .column-item--w87 {
  width: 87%;
}
.columns .column-item--w88 {
  width: 88%;
}
.columns .column-item--w89 {
  width: 89%;
}
.columns .column-item--w90 {
  width: 90%;
}
.columns .column-item--w91 {
  width: 91%;
}
.columns .column-item--w92 {
  width: 92%;
}
.columns .column-item--w93 {
  width: 93%;
}
.columns .column-item--w94 {
  width: 94%;
}
.columns .column-item--w95 {
  width: 95%;
}
.columns .column-item--w96 {
  width: 96%;
}
.columns .column-item--w97 {
  width: 97%;
}
.columns .column-item--w98 {
  width: 98%;
}
.columns .column-item--w99 {
  width: 99%;
}
.columns .column-item--w100 {
  width: 100%;
}
.columns .column-item--m1 {
  margin-right: 1%;
}
.columns .column-item--m2 {
  margin-right: 2%;
}
.columns .column-item--m3 {
  margin-right: 3%;
}
.columns .column-item--m4 {
  margin-right: 4%;
}
.columns .column-item--m5 {
  margin-right: 5%;
}
.columns .column-item--m6 {
  margin-right: 6%;
}
.columns .column-item--m7 {
  margin-right: 7%;
}
.columns .column-item--m8 {
  margin-right: 8%;
}
.columns .column-item--m9 {
  margin-right: 9%;
}
.columns .column-item--m10 {
  margin-right: 10%;
}
.columns .column-item--m11 {
  margin-right: 11%;
}
.columns .column-item--m12 {
  margin-right: 12%;
}
.columns .column-item--m13 {
  margin-right: 13%;
}
.columns .column-item--m14 {
  margin-right: 14%;
}
.columns .column-item--m15 {
  margin-right: 15%;
}
.columns .column-item--m16 {
  margin-right: 16%;
}
.columns .column-item--m17 {
  margin-right: 17%;
}
.columns .column-item--m18 {
  margin-right: 18%;
}
.columns .column-item--m19 {
  margin-right: 19%;
}
.columns .column-item--m20 {
  margin-right: 20%;
}
.columns .column-item--m21 {
  margin-right: 21%;
}
.columns .column-item--m22 {
  margin-right: 22%;
}
.columns .column-item--m23 {
  margin-right: 23%;
}
.columns .column-item--m24 {
  margin-right: 24%;
}
.columns .column-item--m25 {
  margin-right: 25%;
}
.columns .column-item--m26 {
  margin-right: 26%;
}
.columns .column-item--m27 {
  margin-right: 27%;
}
.columns .column-item--m28 {
  margin-right: 28%;
}
.columns .column-item--m29 {
  margin-right: 29%;
}
.columns .column-item--m30 {
  margin-right: 30%;
}
.columns .column-item--m31 {
  margin-right: 31%;
}
.columns .column-item--m32 {
  margin-right: 32%;
}
.columns .column-item--m33 {
  margin-right: 33%;
}
.columns .column-item--m34 {
  margin-right: 34%;
}
.columns .column-item--m35 {
  margin-right: 35%;
}
.columns .column-item--m36 {
  margin-right: 36%;
}
.columns .column-item--m37 {
  margin-right: 37%;
}
.columns .column-item--m38 {
  margin-right: 38%;
}
.columns .column-item--m39 {
  margin-right: 39%;
}
.columns .column-item--m40 {
  margin-right: 40%;
}
.columns .column-item--m41 {
  margin-right: 41%;
}
.columns .column-item--m42 {
  margin-right: 42%;
}
.columns .column-item--m43 {
  margin-right: 43%;
}
.columns .column-item--m44 {
  margin-right: 44%;
}
.columns .column-item--m45 {
  margin-right: 45%;
}
.columns .column-item--m46 {
  margin-right: 46%;
}
.columns .column-item--m47 {
  margin-right: 47%;
}
.columns .column-item--m48 {
  margin-right: 48%;
}
.columns .column-item--m49 {
  margin-right: 49%;
}
.columns .column-item--m50 {
  margin-right: 50%;
}
.columns .column-item--m51 {
  margin-right: 51%;
}
.columns .column-item--m52 {
  margin-right: 52%;
}
.columns .column-item--m53 {
  margin-right: 53%;
}
.columns .column-item--m54 {
  margin-right: 54%;
}
.columns .column-item--m55 {
  margin-right: 55%;
}
.columns .column-item--m56 {
  margin-right: 56%;
}
.columns .column-item--m57 {
  margin-right: 57%;
}
.columns .column-item--m58 {
  margin-right: 58%;
}
.columns .column-item--m59 {
  margin-right: 59%;
}
.columns .column-item--m60 {
  margin-right: 60%;
}
.columns .column-item--m61 {
  margin-right: 61%;
}
.columns .column-item--m62 {
  margin-right: 62%;
}
.columns .column-item--m63 {
  margin-right: 63%;
}
.columns .column-item--m64 {
  margin-right: 64%;
}
.columns .column-item--m65 {
  margin-right: 65%;
}
.columns .column-item--m66 {
  margin-right: 66%;
}
.columns .column-item--m67 {
  margin-right: 67%;
}
.columns .column-item--m68 {
  margin-right: 68%;
}
.columns .column-item--m69 {
  margin-right: 69%;
}
.columns .column-item--m70 {
  margin-right: 70%;
}
.columns .column-item--m71 {
  margin-right: 71%;
}
.columns .column-item--m72 {
  margin-right: 72%;
}
.columns .column-item--m73 {
  margin-right: 73%;
}
.columns .column-item--m74 {
  margin-right: 74%;
}
.columns .column-item--m75 {
  margin-right: 75%;
}
.columns .column-item--m76 {
  margin-right: 76%;
}
.columns .column-item--m77 {
  margin-right: 77%;
}
.columns .column-item--m78 {
  margin-right: 78%;
}
.columns .column-item--m79 {
  margin-right: 79%;
}
.columns .column-item--m80 {
  margin-right: 80%;
}
.columns .column-item--m81 {
  margin-right: 81%;
}
.columns .column-item--m82 {
  margin-right: 82%;
}
.columns .column-item--m83 {
  margin-right: 83%;
}
.columns .column-item--m84 {
  margin-right: 84%;
}
.columns .column-item--m85 {
  margin-right: 85%;
}
.columns .column-item--m86 {
  margin-right: 86%;
}
.columns .column-item--m87 {
  margin-right: 87%;
}
.columns .column-item--m88 {
  margin-right: 88%;
}
.columns .column-item--m89 {
  margin-right: 89%;
}
.columns .column-item--m90 {
  margin-right: 90%;
}
.columns .column-item--m91 {
  margin-right: 91%;
}
.columns .column-item--m92 {
  margin-right: 92%;
}
.columns .column-item--m93 {
  margin-right: 93%;
}
.columns .column-item--m94 {
  margin-right: 94%;
}
.columns .column-item--m95 {
  margin-right: 95%;
}
.columns .column-item--m96 {
  margin-right: 96%;
}
.columns .column-item--m97 {
  margin-right: 97%;
}
.columns .column-item--m98 {
  margin-right: 98%;
}
.columns .column-item--m99 {
  margin-right: 99%;
}
.columns .column-item--m100 {
  margin-right: 100%;
}
/*** Reset ***/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button,
select {
  cursor: pointer;
}
input[type=checkbox] {
  cursor: pointer;
}
input[type=radio] {
  cursor: pointer;
}
b,
strong,
i,
em {
  font-style: normal;
  font-weight: normal;
}
/*** // Reset ***/
/*** Fonts ***/
@font-face {
  font-family: 'GillSans-Light';
  src: url("../fonts/GillSans-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/GillSans-Light.woff") format('woff'), url("../fonts/GillSans-Light.ttf") format('truetype'), url("../fonts/GillSans-Light.svg#GillSans-Light") format('svg');
}
/*** //Fonts ***/
/*** Base ***/
body,
html {
  height: 100%;
}
body {
  min-height: 450px;
  font-family: 'GillSans-Light', serif;
  line-height: 1.4;
  cursor: default;
}
.page {
  min-height: 100%;
  min-width: 1000px;
  background: url("../i/404.jpg") no-repeat center center;
}
.page-inner {
  margin: 0 auto;
  width: 100%;
  min-width: 1000px;
  max-width: 1200px;
  padding: 0 15px;
}
.page-inner--overflowed {
  overflow: hidden;
}
/*** //Base ***/
/*** Page header ***/
.page-header {
  padding-bottom: 20px;
  overflow: hidden;
}
.header-logo {
  float: left;
  margin-top: 24px;
  display: block;
  width: 234px;
  height: 66px;
  background: url("../i/logo.png") no-repeat 0 0;
  text-decoration: none;
  text-indent: -9999px;
}
.header-menu {
  float: right;
}
.header-menu .header-menu-item-holder {
  float: left;
  margin-left: 12px;
}
.header-menu .header-menu-item-holder:last-child {
  margin-left: 0;
}
.header-menu .header-menu-item-holder .header-menu-item {
  display: block;
  padding: 42px 8px;
  border-top: 5px solid transparent;
  font-family: 'Roboto Slab';
  font-size: 17px;
  font-weight: bold;
  color: #181818;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.header-menu .header-menu-item-holder .header-menu-item:hover {
  color: #ee3124;
}
.header-menu .header-menu-item-holder .header-menu-item--current {
  border-top-color: #ee3124;
  color: #ee3124;
}
/*** //Page header ***/
/*** Page footer ***/
.page-footer {
  margin-top: -120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1000px;
  height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-heading {
  float: left;
}
.footer-search {
  position: relative;
  top: 10px;
  float: right;
  width: 215px;
  overflow: hidden;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}
.footer-search .footer-search-query {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 7px 50px 7px 18px;
  background-color: #e7e7e7;
  font-family: 'GillSans-Light';
  font-size: 15px;
  line-height: 15px;
  color: #474b4d;
}
.footer-search .footer-search-submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 35px;
  height: 100%;
  background-color: #189de0;
}
.footer-search .footer-search-submit:before {
  margin-top: -2px;
}
.footer-search-query::-webkit-input-placeholder {
  font-family: 'GillSans-Light';
  font-size: 15px;
  line-height: 18px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.footer-search-query::-moz-placeholder {
  font-family: 'GillSans-Light';
  font-size: 15px;
  line-height: 18px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.footer-search-query:-moz-placeholder {
  font-family: 'GillSans-Light';
  font-size: 15px;
  line-height: 18px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.footer-search-query:-ms-input-placeholder {
  font-family: 'GillSans-Light';
  font-size: 15px;
  line-height: 18px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.footer-search-query:focus::-webkit-input-placeholder {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.footer-search-query:focus::-moz-placeholder {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.footer-search-query:focus:-moz-placeholder {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.footer-search-query:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
/*** //Page footer ***/
/*** Page content ***/
.page-heading1 {
  margin-bottom: 5px;
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 37px;
  line-height: 47px;
}
.page-description {
  font-size: 22px;
}
/*** //Page content ***/
